<%= form_for @game, url: {action: action} do |f| %>
  <div class="row">
    <div class="col col-md-4 text-center mb-3">
      <% if @game.image.file %>
        <%= image_tag(@game.image, height: '225', width: '225', id:"game_image_tag") %>
      <% else %>
        <%= image_tag("no_image.jpg", height: '225', width: '225', id:"game_image_tag") %>
      <% end %>
      <br>
      <label class="fileContainer mt-2">
        <button class="btn btn-primary">Trocar imagem</button>
        <%= f.file_field :image %>
      </label>
    </div>

    <div class="col col-md-8">
      <div class="form-group">
        <label>Título</label>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Preço normal (R$)</label>
            <%= f.text_field(:price, class: "form-control") %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Preço c/ manual (R$)</label>
            <%= f.text_field(:price_with_manual, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Região</label> <br>
            <%= f.select :region, options_for_select(Game.region_attributes_for_select), {}, {class: "custom-select"} %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Número de discos</label>
            <%= f.number_field(:disc_quantity, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Opção de Patch <%= image_tag("icons/brazil_flag.png", height: "20") %> ?</label> <br>
            <%= f.check_box(:translated) %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Disponível?</label> <br>
            <%= f.check_box(:available) %>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success btn-block mt-3">
        <% if action == "update" %>
          Atualizar
        <% else %>
          Criar
        <% end %>
      </button>
    </div>
  </div>
<% end %>
